@charset "UTF-8";
#boardList {
	margin:40px 0;
}
#boardList .totalRec {
	display:flex;
	justify-content: flex-end;
	padding:0px;
	padding-bottom:5px;
}

#boardList .totalRec .btn.badge-secondary {
	padding : 2px 12px;
	font-size: 0.8rem;
}
#boardList .wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 6fr 2fr 1fr 1fr;
  grid-auto-rows: minmax(20px, auto);
 	border-top:1px solid;
	border-left:1px solid;
	padding:0px;
	
}
#boardList .wrapper div {
  border-bottom:1px solid;
	border-right:1px solid;
}
/* 게시글 타이 틀 */
#boardList > div {
  display: flex;
  justify-content: center;
  padding: 10px 0 20px;
}
/* 게시글 타이틀 폰트 굵기 */
#boardList >div > h2{
	font-weight:700;
}
/* 게시글 컬럼 제목 */
#boardList .wrapper .head {
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  background-color: #212121;
  color: white;
  padding: 5px;
}
/* 게시글 내용 */
#boardList .wrapper .rec {
  font-size: 0.8em;
  padding: 5px;
}
/* 버튼 그룹 */
#boardList .btnGrp {
  display: flex;
  justify-content: flex-end;
}

#boardList .btnGrp #writeBtn{
		padding: 2px 10px;
}

/* 페이징 */
#boardList .paging {
  display: flex;
  justify-content: center;
}
#boardList .paging div{
	padding:2px;
}
#boardList .paging div.active{
	background-color:#ffcc80;
}
/*
#boardList .paging div.active a{
	color:white;
}
*/

/* 검색 */
#boardList .find {
  display: flex;
  justify-content: center;
}

#boardList .find #findBtn{
	padding: 2px 6px;
}

#boardList #findCriteria * {
	vertical-align: middle;
}














