@charset "UTF-8";

form {
	min-width: 400px;
	margin: 50px;
}

form * {
	box-sizing: border-box;
}

form legend {
	display: flex;
	justify-content: center;
	margin: 20px 0;
	font-weight: bold;
}

form label {
	display: inline-block;
	min-width: 70px;
	letter-spacing: 0.3em; /*부모요소 폰트의 30%*/
}

/* form input[name="btitle"] {
	width: 80%;
}

form input[name="bid"] {
	width: 50%;
} */

form ul {
	padding-left: 0px;
}

form ul>li {
 	display:grid;
 	grid-template-columns:15% 1fr;
	margin : 10px 0;
 }
 
form ul>li span{
	grid-column:2/3;
}

form ul>li:nth-last-child(1) {
	display: flex;
	justify-content: flex-end;
}

form ul>li:nth-last-child(1)>button {
	margin-left: 3px;
}

form #bcontent {
	width: 100%;
}
form .client_msg,
form .svr_msg {
	font-size: 0.7em;
	font-weight: bold;
	color:red;
}


.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* background-color: transparent;
        border: 1px solid transparent; */
	padding: 0.375rem 0.75rem;
	font-size: 0.8rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

