<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BoardDAO-mapper">
<!-- 게시글 작성 -->
<insert id="write"
				parameterType="com.kh.portfolio.board.vo.BoardVO">

	INSERT INTO board (
	    bnum,
	    bcategory,
	    btitle,
	    bid,
	    bnickname,
	    bcontent,
	    bgroup,
	    bstep,
	    bindent
	) VALUES (
	    BOARD_BNUM_SEQ.nextval,
	    #{boardCategoryVO.cid},
	    #{btitle},
	    #{bid},
	    #{bnickname},
	    #{bcontent},
	    BOARD_BNUM_SEQ.nextval,
	    0,
	    0
	)
	<!-- 게시글 생성후 게시글번호가 생성되고 이생성된 번호를 읽어와서 BoardVO.setBnum()에 넣어줌 -->
	<selectKey keyProperty="bnum" resultType="long" order="AFTER">
		select BOARD_BNUM_SEQ.currval
		  from dual
	</selectKey>
</insert>
<!-- 파일첨부 -->
<insert id="addFile"
				parameterType="com.kh.portfolio.board.vo.BoardFileVO">
	
	INSERT INTO board_upload_file (
	    fid,
	    bnum,
	    fname,
	    fsize,
	    ftype,
	    fdata
	) VALUES (
	    board_upload_file_sql.nextval,
	    #{bnum},
	    #{fname},
	    #{fsize},
	    #{ftype},
	    #{fdata}
	)

</insert>

<!-- 게시글 수정 -->
<!-- 게시글 삭제 -->
<!-- 게시글 보기 -->
<!-- 게시글 목록 -->
<select id="list"
				resultType="com.kh.portfolio.board.vo.BoardVO">
				
 select t1.bnum, 
 				t2.cid 	 as "boardCategoryVO.cid",
 				t2.cname as "boardCategoryVO.cname", 
 				t1.btitle, 
 				t1.bnickname,	
 				t1.bcdate, 
 				t1.bhit
   from board t1, board_category t2
  where t1.bcategory = t2.cid
 
</select>







</mapper>