<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BoardDAO-mapper">
<!-- 게시글 작성 -->
<insert id="write"
				parameterType="com.kh.portfolio.board.vo.BoardVO">

	INSERT INTO board (
	    bnum,
	    bcategory,
	    btitle,
	    bid,
	    bnickname,
	    bcontent,
	    bgroup,
	    bstep,
	    bindent
	) VALUES (
	    BOARD_BNUM_SEQ.nextval,
	    #{boardCategoryVO.cid},
	    #{btitle},
	    #{bid},
	    #{nickname},
	    #{bcontent},
	    BOARD_BNUM_SEQ.nextval,
	    0,
	    0
	)
</insert>
<!-- 게시글 수정 -->
<!-- 게시글 삭제 -->
<!-- 게시글 보기 -->
<!-- 게시글 목록 -->
</mapper>