<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.MemberDAO-mapper">
<!-- 	회원 등록 -->
<insert id="joinMember"
				parameterType="com.kh.portfolio.member.vo.MemberVO">
		insert into member(id,pw,tel,nickname,gender,region,birth)
		       values(#{id},#{pw},#{tel},#{nickname},#{gender},#{region},#{birth})
</insert>
<!-- 	회원 수정 -->
<update id="modifyMember"
				parameterType="com.kh.portfolio.member.vo.MemberVO">
		update member
		   set tel 			= #{tel},
		       nickname = #{nickname},
		       gender 	= #{gender},
		       region 	= #{region},
		       birth 		= #{birth},
		       udate 		= systimestamp
		 where id 			= #{id}
		   and pw       = #{pw} 
</update>
<!-- 	회원 전체조회 -->
<select id="listAllMember"
				resultType="com.kh.portfolio.member.vo.MemberVO">
		select id,pw,tel,nickname,gender,region,birth,cdate,udate
		  from member

</select>
<!-- 	회원 개별조회 -->
<select id="listOneMember"
				parameterType="string"
				resultType="com.kh.portfolio.member.vo.MemberVO">
	select  id,pw,tel,nickname,gender,region,birth,cdate,udate 
	  from  member 
	 where  id = #{id} 
</select>
<!-- 	회원 탈퇴 -->
<delete id="outMember"
				parameterType="map">
	delete from member where id = #{id} and pw = #{pw}
</delete>
<!-- 	로그인 -->
<select id="login"
				parameterType="map"
				resultType="com.kh.portfolio.member.vo.MemberVO">
	select  id,pw,tel,nickname,gender,region,birth,cdate,udate 
	  from  member 
	 where  id = #{id} 
	   and  pw = #{pw} 
</select>
<!-- 	아이디 찾기 -->
<select id="findID"
				parameterType="map"
				resultType="string">
	select id 
	  from member 
	 where tel   = #{tel} 
	   and birth = #{birth} 
</select>
<!-- 	비밀번호 찾기 -->
<select id="findPW"
				parameterType="map"
				resultType="string">
	select pw
	  from member
	 where id    = #{id}
	   and tel   = #{tel} 
	   and birth = #{birth} 
</select>
<!-- 	비밀번호 변경 -->
<update id="changePW"
				parameterType="map">
	update member 
 		 set pw = #{pw} 
 	 where id = #{id}				
</update>
<!-- 	프로파일 이미지 조회 -->
</mapper>







